* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0, 0.5);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

h4 {
  margin: 0;
}

hr {
  margin: 0.8rem 0.5rem;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100;

  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 50%;
}

.bolder {
  font-weight: 500;
}

.customwidth{
  width: 85%;
}

.cursor {
  cursor: pointer;
}

.footnote {
  font-size: 0.9rem;
}

.input-error {
  box-shadow: 0 0 6px red;
}

.dashboard-container {
  background: #FBFBFB;
}

.recipe-card {
  width: 300px;
  height: 350px;
  border-radius: 10px;
}

.close-card-btn {
  position: absolute;
  top: 15px;
  right: 10px;
}

.fullcard-container {
  background: #FBFBFB;
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 10000;
}

.fullcard {
  width: 100%;
  max-width: 500px;
  height: 500px;
}

.frosted {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  height: 50%;
  overflow: scroll;
  overflow-x: hidden;
}

@media screen and (min-width: 992px) {
  .customwidth {
    width: 50%;
  }
}